@import "../../styles/globals/placeholders";


.block{
    display: flex;
    flex-direction: column
}

.heading{
    font-size: 4rem;
    margin-bottom: 0;
}

.headingText{
    margin: 0;
    font-size: 1.8rem;
}

.header{
    width: 100%;
    border-bottom: 10px solid $ice50;
    padding: 0 0 2rem 0;
    margin-bottom: 4rem;
    text-align: center;
}

.btnControls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin: 4rem 0;
    border-top: 1px solid #ccc;
    background-color: $mist;
}


.submissionCntr{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: stepper;
}

.submission{
    width: 50%;
    flex: 1 0 50%;
    display: flex;
    padding: 4rem 4rem 4rem 6rem;
    flex-direction: column;
    counter-increment: stepper;
    position: relative;


    @media only screen and (max-width: $screen-md ) {
        width: 100%;
        flex: 1 0 100%;
    }

    &::before{
        content: counter(stepper);
        background-color: #4c7b9a;
        color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        line-height: 1;
        min-width: 50px;
        height: 50px;
        border-radius: 99em;
        margin: 0;
        font-size: 2.1rem;
        font-weight: 700;
        position: absolute;
        left: 0rem;
        top: 3rem;
    }

    &.complete{
        &::before{
            background-repeat: no-repeat;
            background-position: center;
            background-color: $green;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='%23fff' xmlns='http://www.w3.org/2000/svg' xmlSpace='preserve' viewBox='0 0 24 24'%3E%3Ctitle%3EDone%3C/title%3E%3Cpath d='M9 16.219l10.594-10.641 1.406 1.406-12 12-5.578-5.578 1.359-1.406z'%3E%3C/path%3E%3C/svg%3E");
            content: ""
        }
    }
}

.submissionHeading{
    width: 100%;
    display: flex;
    align-items: baseline;
}

.submissionTitle{
    font-size: 3rem;
    margin: 0 1rem 0 0;
}

.body{
    display: flex;
    flex-direction: column;
}

.bodyRow{
    flex-direction: row;
}

.image{
    border-radius: 50%;
    margin: 2rem 6rem 0 0;
    border: 5px solid #fff;
    box-shadow: $box-shadow-lg;
}

.listGroup{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 50%;
    padding: 1rem 0;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;

    & dt{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        color: #999
    }

    & dd{
        margin: 0;
        font-size: 2.1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 275px;
    }
}

.listGroupRow{
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 2rem;
    align-items: center;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    flex: 0 0 auto;
}

.list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listCol{
    flex-direction: column;
    margin-top: 2rem;

    & .listGroup{
        width: 100%;
    }
}

.listRow{
    margin: 2rem 0;
    justify-content: space-between;

    & .listGroup{
        width: auto;
        padding: 0 2rem 0 0;

        &:last-child{
            padding: 0;
        }
    }
}

.listGroupIcon{
    width: 40px;
    height: 40px;
    align-self: flex-start;
}

.essayList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.essayRow{
    display: flex;

    & .essayItem{
        width: 50%;

        &:first-child{
            margin-right: 2rem;
        }
    }
}

.essayItem{
    margin-top: 2rem;
    background-color: $mist;
    padding: 2rem;
    border: 1px dotted #999;

    & h3{
        margin: 0 0 1rem 0;
    }

    & p{
        margin: 0;
    }
}

