@import 'styles/globals/variables';


.block{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100px;
    padding: 2rem 4rem 0 5rem;
    margin-bottom: 2rem;
    // background-color: $container;
    // border-bottom: 1px solid $container-border;
    align-items: center;
    align-content: center;
    line-height: 1;
    justify-content: flex-start;
}

.title{
    line-height: 1;
    color: $heading;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
    width: 100%;
}


