@import 'styles/globals/variables';


.block{
    display: flex;
    width: 100%;
    max-height: 100px;
    padding: 1rem 4rem;
    background-color: $container;
    border-bottom: 1px solid $container-border;
    align-items: center;
    flex: 1 0 100px;
}

.title{
    line-height: 1;
    color: $heading;
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0
}


