/*
*	Global Styes
*	- DO NOT TOUCH even...if you are asked to touch.
*/

:root {
	--default-cursor: pointer;
	--border-off: none;

	--standard-width: 2000px;
	--standard-padding: 2rem;
	--standard-column-width: 100%;
	--header-padding: 4vw;

	--hr-border: #ccc;
	--standard-border: 1px solid transparent;

	--border-radius: 4px;
	--button-border-radius: 2px;

	// colors
	--primary-color: #2E303B;

	--charcoal: #2E303B;
	--dove: #F0F0F0;
	--mist: #f9f9f9;
	--white: #fff;

	--indigo: #353E5D;
	--ocean: #4c7b9a;
	--ice: #dfe9ef;
	--ice50: #f0f4f7;
	--ice25: #f8fafb;

	--green: #6fa33f;
	--sage: #b0d493;
	--link_color: #4c7b9a;

	--grit-red: rgb(233 41 56);

	--blue:    #0d6efd;
	--indigo:  #6610f2;
	--purple:  #6f42c1;
	--pink:    #d63384;
	--red:     #dc3545;
	--orange:  #fd7e14;
	--yellow:  #ffc107;
	--green:   #198754;
	--teal:    #20c997;
	--cyan:    #0dcaf0;

	--white:    #fff;
	--gray-100: #f8f9fa;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #ced4da;
	--gray-500: #adb5bd;
	--gray-600: #6c757d;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;
	--black:    #000;

	// Typography
	--font-stack: "Inter", Helvetica, Arial, sans-serif;
	--font-family-sans-serif: --font-stack;

	--letter-spacing: 0.05rem;
	--font-size-base: 1.6rem;
	--font-size-mobile: --font-size-base - 0.4; // ~1.6rem

	--font-size-h1: --font-size-base + 3; 
	--font-size-h2: --font-size-base + 2.2; 
	--font-size-h3: --font-size-base + 1; 
	--font-size-h4: --font-size-base + 0.7; 
	--font-size-h5: --font-size-base;
	--font-size-h6: --font-size-base - 0.2; 

	--headings-font-family: inherit;
	--headings-font-weight: bold;
	--headings-line-height: 1;
	--headings-color: inherit;

	// Grid
	--grid-columns: 11;

	--screen-xs: 400px; // mobile landscape
	--screen-sm: 568px; // tablet portrait
	--screen-md: 850px; // tablet landscape
	--screen-lg: 1024px; // Desktop
	--screen-xl: 1200px; // Large Desktop & HD TV
	--screen-xxl: 1500px; // HD TV

	--grid-gutter-width: 30px; 

	--box-shadow: 0 .5rem 1rem rgba(#000, .15);
	--box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075) !important;
	--box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175) !important;

	// animations
	--easeInOutBack: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    --star-size: 15px;
    --star-color: #ddd;
    --star-background: #fc0;
	--star-orangebackground: #E5A778;
	--star-bluebackground: #4c7b9a;
	--toastify-toast-background: #222 !important;
}

@import 'reboot';

@import './type';
@import './animations';
@import './placeholders';
@import 'styles/globals/mixins/font';


*, *:after, *:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body{
	font-family: var(--font-stack) !important;
	font-size:var(--font-size-base);
	font-weight: normal;
	color:var(--primary-color);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}


input,
textarea,
select,
textarea {
	font: normalvar(--font-size-base) var(--font-stack);
}

input,
textarea,
select {
	border: 1px solid #ccc;
	border-radius: var(--border-radius);
	color:var(--primary-color);
	display: inline-block;
	font-size:var(--font-size-base);
	line-height: 1;
	vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
	width: auto;
	padding: 0;
	margin: 0 10px 0 0;
	border: 0;
	box-shadow: none;
}

input[disabled],
input[readonly] {
	background-color: #f2f2f2;
	cursor: not-allowed;
	opacity: 0.3;
}


select {
	background-color: #ffffff;
	height: 58px;
}

input[type="file"] {
	height: auto;
	width: auto;
	padding: 0;
	border: none;
	box-shadow: none;
}

fieldset {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}

legend {
	padding: 0;
	display: block;
	font-size:var(--font-size-base);
	line-height: 1;
	margin: 0;
	color:var(--primary-color);
	width: 100%;
}

label {
	font-size:var(--font-size-base);
	display: inline-block;
	color:var(--primary-color);
    line-height: 1;
}


::-webkit-input-placeholder {
	color: #ccc;
}
::-moz-placeholder {
	color: #ccc;
}
:-ms-input-placeholder {
	color: #ccc;
}
:-moz-placeholder {
	color: #ccc;
}

.root {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	flex: 1 0 100%;
}




// Safari 15+ displays a gray border while loading for next/image.
@supports (font: -apple-system-body) and (-webkit-appearance: none) { 
	img[loading="lazy"] { 
		clip-path: inset(0.6px) 
	} 
}


#email-placement img{
	width: 100%;
	object-fit: contain;
	padding: 2rem;
}

.nosto_element, .lazyload-wrapper {
	width: 100%;
}


@media only screen and (max-width: var(--screen-lg) ) {
     .bodyBlur{
         overflow:hidden;
     }
}


[aria-hidden="true"]{
	& > a{
		display: none;
	}
}


// React Lazy
.LazyLoad {
	opacity: 0;
	transition: all .500s cubic-bezier(.59,.28,.83,.67);
	width: 100%;
}

.is-visible {
	opacity: 1;
}



/* -------------------------------------------------------------
	CMS VDS Styles 
	- theses are to be kept at a BARE MINIMUM!!!
	- only using because we cannot use dynamic component styles
	- DO NOT ADD TO THIS WITHOUT ARCHITECTURAL APPROVAL!!
---------------------------------------------------------------- */

.fs_1, .fs_2, .fs_3, .fs_4, .fs_5, .fs_6{
	display: flex
}

.fs_1{
	@extend %h1;
	@include dynamic-font(40, 54);
}

.fs_2{
    @extend %h2;
    @include dynamic-font(23, 33);
}

.fs_3{
    @extend %h3;
    @include dynamic-font(23, 33);
}

.fs_4{
    @extend %h4;
    @include dynamic-font(20, 24);
}

.fs_5{
    @extend %h5;
    @include dynamic-font(18, 22);
}

.fs_6{
    @extend %h6;
    @include dynamic-font(14, 18);
}


.quote {
    @extend %h1;
    @include dynamic-font(22, 40);
    letter-spacing: 0.4rem;
    text-transform: none;
    font-weight: normal;
}

ul.list_styled, ol.list_styled {
	@extend %ul;	

	& li{
        margin-bottom: 2.1rem;
    }
}


.button_block{
	@extend %standard-button;
	@extend %button-animate;
	text-decoration: none !important;

	strong, b{
		font-weight: normal;
	}

	a{
		color: inherit !important;
		text-decoration: none !important;
		border: none !important;

		&:hover{
			color: inherit !important;
		}
	}
}

.button_outline{
	border-color: var(--charcoal) !important;
	background-color: transparent !important;
	color: var(--charcoal) !important;
}

.button_block.bg_dove{
	color: var(--charcoal) !important;
}

p a:has(span.button_block){
	text-decoration: none !important;
	border: none !important;
}

