@import "styles/globals/variables";


.block{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $screen-lg){
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $screen-md){
        grid-template-columns: repeat(1, 1fr);
    }
}

