
// scss-docs-start import-stack
// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "./globals/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "orange", "yellow", "teal", "cyan", "pink", "blue");

@import "bootstrap/scss/utilities";

// Layout & components
@import "./globals/root.scss";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/forms/form-control";
@import "bootstrap/scss/forms/form-select";
@import "bootstrap/scss/forms/floating-labels";

@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/alert";


// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack

:root {
	--default-cursor: pointer;
	--border-off: none;

	--standard-width: 2000px;
	--standard-padding: 2rem;
	--standard-column-width: 100%;
	--header-padding: 4vw;

	--hr-border: #ccc;
	--standard-border: 1px solid transparent;

	--border-radius: 4px;
	--button-border-radius: 2px;

	// colors
	--primary-color: #2E303B;

	--charcoal: #2E303B;
	--dove: #F0F0F0;
	--mist: #f9f9f9;
	--white: #fff;

	--indigo: #353E5D;
	--ocean: #4c7b9a;
	--ice: #dfe9ef;
	--ice50: #f0f4f7;
	--ice25: #f8fafb;

	--green: #6fa33f;
	--sage: #b0d493;
	--link_color: #4c7b9a;

	--grit-red: rgb(233 41 56);

	--blue:    #0d6efd;
	--indigo:  #6610f2;
	--purple:  #6f42c1;
	--pink:    #d63384;
	--red:     #dc3545;
	--orange:  #fd7e14;
	--yellow:  #ffc107;
	--green:   #198754;
	--teal:    #20c997;
	--cyan:    #0dcaf0;

	--white:    #fff;
	--gray-100: #f8f9fa;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #ced4da;
	--gray-500: #adb5bd;
	--gray-600: #6c757d;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;
	--black:    #000;

	// Typography
	--font-stack: "Inter", Helvetica, Arial, sans-serif;
	--font-family-sans-serif: --font-stack;

	--letter-spacing: 0.05rem;
	--font-size-base: 1.6rem;
	--font-size-mobile: --font-size-base - 0.4; // ~1.6rem

	--font-size-h1: --font-size-base + 3; 
	--font-size-h2: --font-size-base + 2.2; 
	--font-size-h3: --font-size-base + 1; 
	--font-size-h4: --font-size-base + 0.7; 
	--font-size-h5: --font-size-base;
	--font-size-h6: --font-size-base - 0.2; 

	--headings-font-family: inherit;
	--headings-font-weight: bold;
	--headings-line-height: 1;
	--headings-color: inherit;

	// Grid
	--grid-columns: 11;

	--screen-xs: 400px; // mobile landscape
	--screen-sm: 568px; // tablet portrait
	--screen-md: 850px; // tablet landscape
	--screen-lg: 1024px; // Desktop
	--screen-xl: 1200px; // Large Desktop & HD TV
	--screen-xxl: 1500px; // HD TV

	--grid-gutter-width: 30px;


	// buttons
	--btn-font-weight: lighter;


	--box-shadow: 0 .5rem 1rem rgba(#000, .15);
	--box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075) !important;
	--box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175) !important;

	// animations
	--easeInOutBack: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    --star-size: 15px;
    --star-color: #ddd;
    --star-background: #fc0;
	--star-orangebackground: #E5A778;
	--star-bluebackground: #4c7b9a;
	--toastify-toast-background: #222 !important;
}
