
@use "./reboot"; 

:root{
	color-scheme: dark;
	--default-cursor: pointer;
	--border-off: none;

	--standard-width: 2000px;
	--standard-padding: 2rem;
	--standard-column-width: 100%;
	--header-padding: 4vw;

	--hr-border: #ccc;
	--standard-border: 1px solid transparent;

	--border-radius: 8px;
	--button-border-radius: 4px;

	// colors
	--primary-color: #2E303B;
	--charcoal: #2E303B;
	--grey: #999;
	--dove: #F0F0F0;
	--mist: #f9f9f9;
	--white: #fff;
	--grit-red: rgb(233 41 56);
	--link_color: #4c7b9a;

	--letter-spacing: 0.05rem;
	--font-size-base: 1.6rem;
	--font-size-mobile: calc(var(--font-size-base) - 0.4); // ~1.6rem

	--background: rgb(42,40,51);;

	--grid-gutter-width: 30px !important;
	--grid-columns: 11;


	// buttons
	--btn-font-weight: lighter;

	--box-shadow: 0 .5rem 1rem rgba(#000, .15) !important;
	--box-shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075) !important;
	--box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175) !important;

	// animations
	--easeInOutBack: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}