@import 'styles/globals/variables';

.block{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.item{
    margin-bottom: 2rem;
    line-height: 1.5;
    border-left: 4px solid $info;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:last-of-type{
        border-left-color: $warning;
    }

    &:last-of-type{
        margin: 0;
    }
}

.details{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.title{
    color: $white
}

.time{
    color: $heading;
    font-size: 2.1rem;
}

.meridiem{
    color: $table-heading;
    font-size: 1.2rem;
}

.more{
    padding: 1rem 2rem;
    background-color: $charcoal;
    border-radius: $border-radius;
    line-height: 1;
    color: $heading;

    &:hover{
        text-decoration: none;
        color: $white;
        background-color: rgba($charcoal, .5);
    }
}

