.block{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
}


.text{
    display: flex;
    flex-direction: column;
}

.desc{
    font-size: 2.1rem;
    opacity: 0.5;
}

.icon{
    fill: #fff;
    width: 80px;
    height: 80px;
    margin-right: 2rem;
}

.password{
    font-size: 2.1rem;
    margin-top: .5rem;
}

