/*
for css vars only.
these values are automatically known in all stylesheets.
the :root statement itself is only included in the common stylesheet.
*/

:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #a9a9b2 !important;
    --fc-border-color: #323238 !important;
  
    --fc-button-text-color: #fff;
    --fc-button-bg-color: rgba(43, 42, 51) !important;
    --fc-button-border-color: rgba(34, 33, 40) !important;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
  
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
  
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
  
    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(244, 179, 185, 0.15);
    --fc-now-indicator-color: red;
  }

.fc-theme-standard td{
  border-style: dotted !important;
}

.fc-toolbar-title, .fc-col-header-cell-cushion, .fc-timegrid-slot-label-cushion{
  color: $heading;
}

.fc th{
  font-weight: normal;
}

.fc-toolbar-title{
  font-size: 3rem !important;
  font-weight: normal;
}



