/*
*	Global Styes
*	- DO NOT TOUCH even...if you are asked to touch.
*/

@import 'variables';
@import 'reboot';

@import './mixins/font';

@import 'calendar';

*, *:after, *:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	font-family: "Roboto" sans-serif;
	font-size: $font-size-base;
	color: $primary-color;
	background-color: $background;
	// letter-spacing: 0.05rem;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;

	@media only screen and (max-width: $screen-md ) {
        font-size: $font-size-mobile;
    }
}


input,
textarea,
select,
textarea {
	font: normal $font-size-base $font-stack;
}

input,
textarea,
select {
	border: 1px solid #ccc;
	border-radius: $border-radius;
	color: $primary-color;
	display: inline-block;
	font-size: $font-size-base;
	line-height: 1;
	vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
	width: auto;
	padding: 0;
	margin: 0 10px 0 0;
	border: 0;
	box-shadow: none;
}

input[disabled],
input[readonly] {
	background-color: #f2f2f2;
	cursor: not-allowed;
	opacity: 0.3;
}


select {
	background-color: #ffffff;
	height: 58px;
}

input[type="file"] {
	height: auto;
	width: auto;
	padding: 0;
	border: none;
	box-shadow: none;
}

fieldset {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}

legend {
	padding: 0;
	display: block;
	font-size: $font-size-base;
	line-height: 1;
	margin: 0;
	color: $primary-color;
	width: 100%;
}

label {
	font-size: $font-size-base;
	display: inline-block;
	color: $primary-color;
    line-height: 1;
}


::-webkit-input-placeholder {
	color: #ccc;
}
::-moz-placeholder {
	color: #ccc;
}
:-ms-input-placeholder {
	color: #ccc;
}
:-moz-placeholder {
	color: #ccc;
}

// hacky
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active,
input:-moz-autofill-preview,
input:autofill{
	filter: none !important;
	transition: background-color 9999s ease-in-out 0s !important;
}


.root {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	flex: 1 0 100%;
}

:root {
	--colors-white: #FFF;
    --colors-black: #000;
    --colors-gray100: #E1E1E6;
    --colors-gray200: #A9A9B2;
    --colors-gray400: #7C7C8A;
    --colors-gray500: #505059;
    --colors-gray600: #323238;
    --colors-gray700: #29292E;
    --colors-gray800: #202024;
    --colors-gray900: #121214;
    --colors-ignite300: #00B37E;
    --colors-ignite500: #00875F;
    --colors-ignite700: #015F43;
    --colors-ignite900: #00291D;
    --colors-test: #FFF;
    --fontWeights-regular: 400;
    --fontWeights-medium: 500;
    --fontWeights-bold: 700;
    --fonts-default: Roboto, sans-serif;
    --fonts-code: monospace;
	--fc-today-bg-color: rgba(244, 179, 185, 0.05) !important;
}


// Safari 15+ displays a gray border while loading for next/image.
@supports (font: -apple-system-body) and (-webkit-appearance: none) { 
	img[loading="lazy"] { 
		clip-path: inset(0.6px) 
	} 
}

