@import "styles/globals/variables";


.block{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $container;
    border-radius: $border-radius;
    margin: 1rem 0 0 1rem;
    box-shadow: $box-shadow-sm;
    justify-content: space-between;
}

