@import 'styles/globals/variables';

.block{
    display: flex;
    width: 17%;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: $container;
    border-right: 1px solid $container-border;

    @media screen and (max-width: $screen-lg){
        width: 50px;
        padding: 2rem .5rem
    }
}

.logoLink{
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-bottom: 2px dotted $container-border;
    margin-bottom: 2rem;
    padding: 0 2rem 0 1rem;

    @media screen and (max-width: $screen-lg){
        padding: 0;
    }
}

.logo{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    flex: 1 0 auto;
}



.link{
    width: 100%;
    text-align: left;
    color: $primary-color;
    font-size: 1.4rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    line-height: 1;

    &:hover{
        color: $heading;
        text-decoration: none;

        & .icon{
            fill: $heading;
        }
    }
}

.active{
    color: $white;
    background-color: $container-border;
    border-radius: $border-radius;

    & .icon{
        fill: $white;
    }
}


.icon{
    width: auto;
    height: 25px;
    margin: 0 .75rem 0 1rem;
    fill: $primary-color;
    flex: 1 0 auto;

    @media screen and (max-width: $screen-lg){
        margin: 0;
    }
}

.heading{
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    color: $heading;
    padding-left: 1rem;
    margin: 3rem 0 1rem 0;

    @media screen and (max-width: $screen-lg){
        display: none;
    }
}

.spacer{
    margin: 3rem 0 0 0 !important;
}

.title{
    width: 100%;

    @media screen and (max-width: $screen-lg){
        display: none;
    }
}

