@import 'styles/globals/variables';

.block{
    display: flex;
    width: 15vw;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: $container;

    @media screen and (max-width: $screen-lg){
        width: 50px;
        padding: 2rem .5rem
    }
}

.link{
    width: 100%;
    text-align: left;
    color: $primary-color;
    font-size: 1.4rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    line-height: 1;

    &:hover{
        color: $heading;
        text-decoration: none;

        & .icon{
            fill: $heading;
        }
    }
}

.active{
    color: $white;
    border-radius: $border-radius;

    & .icon{
        fill: $white;
    }
}


.icon{
    width: auto;
    height: 25px;
    margin: 0 .75rem 0 1rem;
    fill: $primary-color;
    flex: 1 0 auto;

    @media screen and (max-width: $screen-lg){
        margin: 0;
    }
}

.heading{
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    color: $heading;
    padding-left: 1rem;
    margin: 3rem 0 1rem 0;

    @media screen and (max-width: $screen-lg){
        display: none;
    }
}

.spacer{
    margin: 3rem 0 0 0 !important;
}

.title{
    width: 100%;

    @media screen and (max-width: $screen-lg){
        display: none;
    }
}

.logoSpacer{
    margin: 2rem 0 !important;
    width: 100%;
}


