@import "styles/globals/variables";

.block{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.title{
    color: $white;
    font-size: 2.4rem;
    font-weight: 600;
}

.subTitle{
    font-weight: 400;
    font-style: italic;
}

.titleBlock{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.toolbar{
    flex: 0 auto;
}
