@import 'styles/globals/variables';
@import 'styles/globals/_placeholders';

.root{
    position: relative;
    height: auto;
    transition: all ease;

    @media only screen and (max-width: $screen-md ) {
        height: auto;
    }
}

.hide{
    visibility: hidden !important;
    height: 0px;
    padding: 0;
    margin: 0;
}


.block{
    display: flex;
    width: 100%;
    white-space: nowrap;
    padding-top: 1rem;

    @media only screen and (max-width: $screen-lg ) {
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.left{
    justify-content: flex-start !important;
}

.listCenter{
    justify-content: center !important;
}


.list{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    @media only screen and (max-width: $screen-sm ) {
        // text-overflow: ellipsis;
        // white-space: nowrap;
        max-width: 350px;
        // overflow: hidden;
        // padding-right: 1rem;
        overflow-x: auto;
    }
    
}

.link{
    color: #777;

    @media only screen and (max-width: $screen-sm ) {
		white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        display: block;
	}
}

.item{
    padding: 0rem;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    padding-right: 3rem;
    
    &::after{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-navigate_next' width='15' height='15' fill='%23777' viewBox='0 0 24 24'%3E%3Cpath d='M9.984 6l6 6-6 6-1.406-1.406 4.594-4.594-4.594-4.594z'%3E%3C/path%3E%3C/svg%3E");
        padding: 0 1rem;
        font-size: 3rem;
        line-height: .5;
        width: 15px;
        height: 15px;
        top: 1px;
        right: 3px;
        position: absolute;
    }

    &:last-of-type{
        &::after{
            display: none;
        }
    }


    @media only screen and (max-width: $screen-sm ) {
        max-width: 100px;
        height: 20px;

        &:last-of-type {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    
}

